

<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Edit Blog</h1>
        <p class="lead">Modify your blog details below.</p>
    </div>

    <div class="card p-4">
        <h3>Edit Blog</h3>
<form action="/management/blogs/update/<%= blog._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label>Title:</label>
        <input type="text" class="form-control" name="title" value="<%= blog.title %>" required>
    </div>

    <div class="form-group">
        <label>Current Image:</label><br>
        <img src="<%= blog.image %>" class="img-fluid mb-3" alt="Blog Image" style="max-width: 200px;">
    </div>

    <div class="form-group">
        <label>Upload New Image (Optional):</label>
        <input type="file" class="form-control" name="image">
    </div>

    <div class="form-group">
        <label>Introduction:</label>
        <textarea class="form-control" name="intro" rows="3" required><%= blog.intro %></textarea>
    </div>

  <div class="form-group">
    <label>Paragraph 1:</label>
    <textarea class="form-control" name="para1" rows="4" required><%= blog.para1 %></textarea>
</div>

<div class="form-group">
    <label>Paragraph 2:</label>
    <textarea class="form-control" name="para2" rows="4" required><%= blog.para2 %></textarea>
</div>

<div class="form-group">
    <label>Paragraph 3:</label>
    <textarea class="form-control" name="para3" rows="4" required><%= blog.para3 %></textarea>
</div>

<div class="form-group">
    <label>Paragraph 4:</label>
    <textarea class="form-control" name="para4" rows="4" required><%= blog.para4 %></textarea>
</div>

<div class="form-group">
    <label>Paragraph 5:</label>
    <textarea class="form-control" name="para5" rows="4"><%= blog.para5 %></textarea>
</div>

<div class="form-group">
    <label>Paragraph 6:</label>
    <textarea class="form-control" name="para6" rows="4"><%= blog.para6 %></textarea>
</div>

<div class="form-group">
    <label>Paragraph 7:</label>
    <textarea class="form-control" name="para7" rows="4"><%= blog.para7 %></textarea>
</div>

<div class="form-group">
    <label>Paragraph 8:</label>
    <textarea class="form-control" name="para8" rows="4"><%= blog.para8 %></textarea>
</div>

<div class="form-group">
    <label>Paragraph 9:</label>
    <textarea class="form-control" name="para9" rows="4"><%= blog.para9 %></textarea>
</div>

<div class="form-group">
    <label>Paragraph 10:</label>
    <textarea class="form-control" name="para10" rows="4"><%= blog.para10 %></textarea>
</div>

<div class="form-group">
    <label>Paragraph 11:</label>
    <textarea class="form-control" name="para11" rows="4"><%= blog.para11 %></textarea>
</div>

<div class="form-group">
    <label>Paragraph 12:</label>
    <textarea class="form-control" name="para12" rows="4"><%= blog.para12 %></textarea>
</div>

<div class="form-group">
    <label>Paragraph 13:</label>
    <textarea class="form-control" name="para13" rows="4"><%= blog.para13 %></textarea>
</div>

<div class="form-group">
    <label>Paragraph 14:</label>
    <textarea class="form-control" name="para14" rows="4"><%= blog.para14 %></textarea>
</div>

<div class="form-group">
    <label>Paragraph 15:</label>
    <textarea class="form-control" name="para15" rows="4"><%= blog.para15 %></textarea>
</div>

<div class="form-group">
    <label>Paragraph 16:</label>
    <textarea class="form-control" name="para16" rows="4"><%= blog.para16 %></textarea>
</div>

<div class="form-group">
    <label>Paragraph 17:</label>
    <textarea class="form-control" name="para17" rows="4"><%= blog.para17 %></textarea>
</div>

<div class="form-group">
    <label>Paragraph 18:</label>
    <textarea class="form-control" name="para18" rows="4"><%= blog.para18 %></textarea>
</div>

<div class="form-group">
    <label>Paragraph 19:</label>
    <textarea class="form-control" name="para19" rows="4"><%= blog.para19 %></textarea>
</div>

<div class="form-group">
    <label>Paragraph 20:</label>
    <textarea class="form-control" name="para20" rows="4"><%= blog.para20 %></textarea>
</div>

    <div class="form-group">
        <label>Author's Name:</label>
        <input type="text" class="form-control" name="author" value="<%= blog.author %>" required>
    </div>

  

    <button type="submit" class="btn btn-success">Update Blog</button>
</form>
    </div>
</div>


